/* 
// TODO 
I would have installed a different pre-processor, SCSS that would have allowed me to write
for a css class like `.comments-header-likes`

.comments {
  &-header { 
    &-likes {
      ...
    }       
  }
}


*/


.comments {
  /* border: 1px solid blue; */
  /* 
    TODO: Get the fonts from the Telegraph.co.uk website 
    https://www.telegraph.co.uk/etc/designs/telegraph/core/clientlibs/ui/dist/static/fonts/Austin-News-Deck-Web-Semibold.woff2 etc ...
  */
  font-family: "Telesans text Regular", Arial, sans-serif;
  max-width: 44.5em;
  margin-left: auto;
  margin-right: auto;
}

.comments-header {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.comments-count {
  flex-grow: 1;
}

.comments-sort {
  text-align: right;
  flex-grow: 1; 
  padding: 1em 0;
}

.comments-count {
  font-size: 1.125em;
  padding: 1em 0;
}

.comment {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 1em;
}

.comment-header {
  padding-top: 1em;
  display: flex;
  justify-content: space-between;
}

.comment-header-likes {
  font-weight: bold;
}

.comment-username {
  font-weight: bold;
  font-size: 1em;
  display: inline-block;
  padding-right: 1em;
}

.comment-header-date {
  color: #04777b;
  font-size: 0.75em;
}

.comment-body {
  color: #3f3f3f;
  line-height: 1.5em;
  max-width: 37em;
  padding-top: 1em;
}

